{% extends "yonetici.html" %}

{% block sayfa_baslik %}
Yönetici Sayfası - Bağış Ekleme Sayfası
{% endblock %}

{% block icerik_baslik %}
 Dernek Otomasyon Sistemi Bağış Ekleme Sayfasındasınız {{ yonetici.uye_adi_soyadi.upper() }}<br>
    Aşağıdaki Formu Doldurarak Yeni Bağış Sisteme Ekleyebilirsiniz
{% endblock %}


{% block icerik %}
    
    {% if mesaj %}

    <div class="alert alert-success" role="alert">

 Bağış Ekleme İşleminiz {{ mesaj }} İle Sonuçlanmıştır<br>
 Yukarıda Bulunan Menü Aracılığı ile Yapmak İstediğiniz İşlemi Seçebilirsiniz


</div>
     {% else %}

        <form action="bagis_ekle" method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Bağışçı Adı Soyadı - Ünvanı</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Bağış Yapan" name="bagis_yapan">
    </div>
    <div class="form-group col-md-4">
      <label >Bağış Tutarı</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Bağış Tutarı" name="bagis_tutari">
    </div>
          <div class="form-group col-md-4">
      <label >Bağış Tarihi(Gün/Ay/Yıl)</label>

      <input type="text" class="form-control" id="inputPassword4"  name="bagis_tarihi" value={{ tarih }} >



    </div>



  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputState">Bağış Açıklama</label>

        <textarea class="form-control" rows="3" id="comment" placeholder="Bağış Açıklaması" name="bagis_aciklama"></textarea>
    </div>

    <div class="form-group col-md-4" >
  <br>
      <button type="submit" class="btn btn-primary" >Bağış Ekle</button>
    </div>
  </div>


</form>

    {% endif %}
{% endblock %}


